[submodule "cmake"]
	path = cmake
	url = https://github.com/VlinderSoftware/cmake.git
[submodule "exceptions"]
	path = cmake
	url = https://github.com/VlinderSoftware/exceptions.git
[submodule "tracing"]
	path = tracing
	url = https://github.com/blytkerchan/tracing.git
